    <details class="guida-esempi"$aperta>
      <summary>$titolo</summary>
      <div class="guida-corpo">
        <p class="aiuto">$intro</p>
        <ol class="guida-lista">
          <li>
            <h3>$es1_titolo</h3>
            <p class="guida-etichetta">$ti_danno</p>
            <pre class="guida-codice"><code>&lt;script async src="https://www.googletagmanager.com/gtag/js?id=G-AB12CD34EF"&gt;&lt;/script&gt;
&lt;script&gt;
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-AB12CD34EF');
&lt;/script&gt;</code></pre>
            <p class="guida-etichetta">$cosa_fai</p>
            <p>$es1_passi</p>
          </li>
          <li>
            <h3>$es2_titolo</h3>
            <p class="guida-etichetta">$ti_danno</p>
            <pre class="guida-codice"><code>&lt;ins class="adsbygoogle" style="display:block"
     data-ad-client="ca-pub-1234567890123456"
     data-ad-slot="1234567890" data-ad-format="auto"&gt;&lt;/ins&gt;
&lt;script&gt;(adsbygoogle = window.adsbygoogle || []).push({});&lt;/script&gt;</code></pre>
            <p class="guida-etichetta">$cosa_fai</p>
            <p>$es2_passi</p>
          </li>
          <li>
            <h3>$es3_titolo</h3>
            <p class="guida-etichetta">$ti_danno</p>
            <pre class="guida-codice"><code>&lt;script src="https://widget.esempio.com/loader.js" data-id="abc123" defer&gt;&lt;/script&gt;</code></pre>
            <p class="guida-etichetta">$cosa_fai</p>
            <p>$es3_passi</p>
          </li>
        </ol>
        <p class="guida-nota">$fiducia</p>
      </div>
    </details>
