        <div>
          <label class="campo-etichettato"><span class="etichetta">$label_ambito</span>
          <select class="codice-ambito">
            <option value="all" $sel_tutto>$label_scope_tutto</option>
            <option value="home" $sel_home>$label_scope_home</option>
            <option value="articles" $sel_solo_articoli>$label_scope_solo_articoli</option>
            <option value="home_articles" $sel_articles>$label_scope_articles</option>
            <option value="optin" $sel_solo_optin>$label_scope_solo_optin</option>
            <option value="home_optin" $sel_optin>$label_scope_optin</option>
          </select></label>
          <p class="hint" style="margin:0.2rem 0 0">$hint_ambito</p>
        </div>
