<div class="accesso">
  <div class="gruppo accesso-scatola">
    <p class="accesso-marchio">PyBlog</p>
    <h1 class="pagina-titolo">$titolo</h1>
    <p class="aiuto">$invito</p>
    $errore
    <form method="POST" action="/login" class="accesso-modulo">
      <div class="campo">
        <label for="password">$label_password</label>
        <input type="password" class="campo-input" id="password" name="password" autocomplete="current-password" autofocus required>
      </div>
      <button type="submit" class="pulsante pulsante-primario pulsante-largo">$accedi</button>
    </form>
  </div>
</div>
