<!DOCTYPE html>
<html lang="$lang">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  $favicon
  $analytics
  <title>$titolo_pagina</title>
$meta_extra  <link rel="stylesheet" href="/common.css$versione_css">
  <link rel="stylesheet" href="/style.css$versione_css">
$feed_links$head_extra  <script src="/site.js$versione_js"></script>
</head>
<body class="pagina-$tipo_pagina">
$body_open  $header
$after_header$contenuto$before_footer  $footer
$script_extra</body>
</html>
