        <form class="newsletter-modulo" action="/iscriviti" method="post">
          <p class="newsletter-testo">$testo</p>
          <input type="hidden" name="lingua" value="$lingua">
          <div class="newsletter-trappola" aria-hidden="true">
            <label for="$id-sito">Sito</label>
            <input type="text" id="$id-sito" name="sito" tabindex="-1" autocomplete="off">
          </div>
          <label class="sr-only" for="$id-email">$label_email</label>
          <div class="newsletter-riga">
            <input class="campo-input" type="email" id="$id-email" name="email" required
                   autocomplete="email" placeholder="$label_email">
            <button class="pulsante pulsante-primario" type="submit">$iscriviti</button>
          </div>
$privacy        </form>
